body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red {
  border: 4px inset darkgreen !important;
}



 .bold {
   font-weight: bold;
   margin-bottom: 4px;
   margin-top: 6px;
   font-size: 16px;
 }

 .tickets {
   overflow: auto;
   padding-top: 5px;
   transition: all 1s linear;
 }

 .newTicket {
   margin-bottom: 20px;
 }

 .header {
   text-align: center;
 }

.submit {
width: 183px;
height: 30px;
transition: all .25s ease-in-out;
}

.submit:hover {
background-color: lightblue;
font-size: 15px;
}

.submit:active {
  font-size: 12px;
  transition: font-size .2s linear;
}

.complete {
  transition: all .25s ease-in-out;
  margin-bottom: 10px;
  margin-left: 10px;
}

.complete:hover {
  background-color: limegreen;
  box-shadow: 1px 1px 3px black;
}

.edit, .cancel, .save {
  margin-bottom: 10px;
}




.updated {
  font-size: 10px;
  color: red;
  margin-top: 1px;
}

h4 {
  margin-bottom: 1px;
  font-size: 21px;
  font-weight: bold;
  padding-left: 15px;
}
.task {
  word-wrap: break-word;
  background-color: #fbfbfb;
  border-radius: 4px;
  border: solid 1px #aaaaaa;
  border-left: -5px;
  border-right: -5px;
  text-align: left;
  padding-left: 2px;
}

.formContainer {
  text-align: center;
  margin-bottom: 15px;
}


.even {
  background-color: #cce5ff;
}

.newTicket {
  max-height: 0;
  transition: max-height .5s linear;
}

.newform > .submit {
  opacity: 0;
  transition: opacity .75s ease-in
}

.slide, .slide > input {
  max-height: 1000px !important;
  opacity: 1 !important;
  /*transition: all 1s ease-in;*/
}

.slide > .newtix {
  width: 30%;
}

.topForm {
  opacity: 0;
  max-height: 0;
  transition: max-height .5s linear, opacity .25s ease-in;
}

.newtix {
  opacity: 0;
  max-height: 0;
  width: 5%;
  text-align: center;
  transition: width 1s ease-in .5s, max-height 10s linear, opacity 1s ease-in;
}

.newtix:focus {
  text-align:justify;
}



.ticketTitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  display:inline-block;
}

.col-sm-4 {
  text-align: center;
}

.ticketTitle > h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
}

hr {
  height: 1;
}

.description {
  height: 23px;
  line-height: 23px;
  padding-left: 0;
  padding-top: 0;
  word-break: break-all;

}

.description:focus {
  height: 80px;
  line-height: 80px;
  text-align: left;
  vertical-align: text-top;
  padding-left: 0;
  word-break: break-all;
  transition: width .2s linear, height .60s ease-in;
}

.page-header {
  width: 100%;
  text-align:center;
}

.editForm > input {
  width:90%;
  display: block;
  margin: 10px auto 10px auto;
}

.editForm > span {
  padding-left: 20px;
}

.editForm > p:nth-of-type(2n) {
  padding-left: 20px;
}

.editForm > p:nth-of-type(2n+1) {
  padding-left: 7px;
}

.editForm > p:first-child {
  margin-top: 15px;
}

.top {
  text-align: center;
  margin: auto;
  height: 150px;
  display: block;
  transition: all 2s ease-in;

}

h1 {
  vertical-align: middle;

}
